.imgBody1 {
    margin-top: 5rem;
    width: 80vw;
    position: relative;
}

.img {
    width: 100%;

}

.imgBody1::after {
    content: "Green Earth Project #lartistebags";
    width: 100%;
    height: 100%;
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.main_container {
    padding: 3rem 3rem;
}

.head {
    margin: 2rem 4rem;
    font-size: 25px;
    color: rgb(22, 21, 21);
    position: relative;
}

.head::after {
    content: "";
    display: inline-block;
    width: 10%;
    height: 5px;
    background-color: rgb(96, 90, 90);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastCover{
    width: 450px;
    height: 400px;
    background: rgb(197, 234, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 100% 10px;
}
.content{
    width: 200px;
}
.para{
    color: rgb(29, 27, 27);
    font-size: 18px;
    margin: 0;
    padding: 0;
    transform: translateY(-30px);
}
.head1{
    font-size: 25px;
    margin-bottom: 10px;
}

.head2{
    font-size: 26px;
    margin: 0;
    padding: 0;
}