.heroSection{
    max-width: 100vw;
    min-width: 90vw;
    background-color: white;
}
.left{
    display: flex;
    flex-direction: column;
}
.btn{
    width: 200px;
    margin-left: 2rem;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}
.imgBody{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width:999px) {
    .heroSection{
        margin-top: -60rem;
        flex-direction: column;
    }
    .right{
        margin-top: 30px;
    }
    .btn{
        margin-top: 20px;
    }
}